<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zCV | AI Resume Analyser </title>
    <link rel="icon" type="image/png" sizes="32x32" href="fevicon.png">
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <nav>
        <span id="logo">zCV</span>
        <ul class="nav-links">
            <li><a href="#">About</a></li>
            <li><a href="#">How it works</a></li>
        </ul>
    </nav>
    
    <div class="hero-section">
        <div class="container">
            <h1>Analyse Your Resume <br>with AI</h1>
            <p>Get instant feedback, identify skills gaps, and improve your resume with AI-powered insights.</p>

            {% if message %}
            <p class="message">{{message}}</p>
            {% endif %}
            <div class="upload-section">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" id="resume-input" name="resume" accept=".pdf,.docx" required>
                    <label for="resume-input" class="upload-box">
                        <h2 class="upload-title">Drop your resume here</h2>
                        <p class="upload-subtitle">Click to upload</p>
                    </label>
                </form>
            </div>
            <p class="helper-text">Supports PDF and DOCX formats. Your resume is processed securely.</p>
        </div>
    </div>
</body>
</html>